<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Archiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Archiver.Properties.Settings>
            <setting name="publishDir" serializeAs="String">
                <value>..\KaikeiSystem\publish</value>
            </setting>
            <setting name="dbFile" serializeAs="String">
                <value>kaikei.db.ver1.original</value>
            </setting>
            <setting name="dbUpdateFile" serializeAs="String">
                <value>dbupdate.scr</value>
            </setting>
            <setting name="binFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>KaikeiSystem.exe</string>
                        <string>KaikeiSystemBody.exe</string>
                        <string>LicenseClient.exe</string>
                        <string>DatabaseUpdater.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="binDir" serializeAs="String">
                <value>..\KaikeiSystem\bin\Release</value>
            </setting>
            <setting name="dstDbFile" serializeAs="String">
                <value>kaikei.db</value>
            </setting>
            <setting name="dbUpdater" serializeAs="String">
                <value>DatabaseUpdater.exe</value>
            </setting>
            <setting name="mainBin" serializeAs="String">
                <value>KaikeiSystemBody.exe</value>
            </setting>
            <setting name="archivePrefix" serializeAs="String">
                <value>KaikeiSystem_</value>
            </setting>
        </Archiver.Properties.Settings>
    </userSettings>
</configuration>