<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LicenseClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LicenseClient.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>keiaisystem.com</value>
            </setting>
            <setting name="service" serializeAs="String">
                <value>kaikei</value>
            </setting>
            <setting name="accountId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>wHvfbGCegPY6lMu1RQ0E</value>
            </setting>
            <setting name="binaryName" serializeAs="String">
                <value>KaikeiSystemBody.exe</value>
            </setting>
            <setting name="licenseFileName" serializeAs="String">
                <value>license.dat</value>
            </setting>
        </LicenseClient.Properties.Settings>
    </userSettings>
</configuration>